@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root
{
    --primary: #fff;
    --second: #000;
    --third: #F2AEB4;
    --fourth: #ee5d94;
    --fifth: #c7316a;
    --sixth: #91919113;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* Nav Bar*/
body
{
    width: 100%;
    margin-left: 0;
    font-family: 'Inter',sans-serif;
    background-color: var(--sixth);

}
.container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    background-color: var(--second);

}
.titulo
{
    float: left;
    font-size: small;
    padding-left: 40px;
    margin-top: 25px;
    border-right: 1px solid var(--third);
    padding-right: 10px;
}
.titulo a 
{
    text-decoration: none;
    color: var(--third);
}
a:hover
{
    color: var(--primary);
}
.ul-nav
{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    list-style-type: none;
    text-align: center;
}
.nav-item
{
    padding: 18px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
}

.ul-nav a
{
    text-decoration: none;
    color: var(--primary);
}
.ul-nav a:hover
{
    color: var(--third);
    text-decoration: none;
}


/*Header*/
.presentation
{
    display: flex;
    width: 100vw;
    background-color: rgb(34, 31, 31);
    color: var(--primary);
    padding-top: 120px;
}
.basic
{
    width: 84%;
}


.presentation .profile
{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 1rem;
    margin-left: 10rem;
    width: 55%;
    border-radius: 50%;
    border: 5px solid var(--fifth);
}

.name h1
{
    font-weight: 400;
    font-size: 2.5rem;
    position: relative;
    text-align: center;
    margin-top: 5rem;
}

.name h1::after
{
    content: '';
    display:block;
    width: 16rem;
    height: 0.3rem;
    background-color: var(--third);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    left: 0;
    right: 0;
}

.resume
{
    margin-top: 2rem;
}

.resume p
{
    width: 50rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
.group-contacts
{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.cont-item img
{
    width: 40px;
}

.cont-item
{
    margin-left: 2rem;
    border-radius: 30%;
    border: none;
    background-color: var(--fourth);
}

.cont-item:hover
{
    background-color: var(--fifth);
    cursor: pointer;
}

/*Degrees*/

.degrees-text, .about-text, .soft-list, .interests-text
{
    width: 50vw;
    margin: 0 auto;
    text-align: justify;
    border-bottom: 4px solid var(--fifth);
    margin-bottom: 3rem;
}

.degrees-tittle, .soft-tittle, .about-tittle, .interests-tittle
{
    text-align: center;
    font-size: 1.5rem;
    color: var(--fifth);
    margin-top: 3rem;
}


.soft-list li b
{
    color: var(--fifth);
}
.soft-list
{
    padding-bottom: 1rem;
}

.footer
{
    margin-top: 4rem;
    height: 5rem;
    background-color: var(--second);
    text-align: center;
    color: var(--primary);
}
.footer-text
{
    padding-top: 2rem;
}
